$desktop: 1200px;
$tablet: 1024px;
$mobile: 768px;
$mobile-s: 480px;

.container {
  position: relative;
  width: 1140px;
  height: 100%;
  margin: 0 auto;

  @media (max-width: $desktop) {
    width: 960px;
  }

  @media (max-width: $tablet) {
    width: 720px;
  }

  @media (max-width: $mobile) {
    width: 576px;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.section-heading {
  margin-bottom: 5rem;
}

.section-heading h2 {
  font-weight: 200;
  color: white;
  font-size: 2em;
  text-align: center;
}