p {
  padding: 0;
  margin: 0;
}

$desktop: 1200px;
$tablet: 1024px;
$mobile: 768px;
$mobile-s: 480px;

.container {
  position: relative;
  width: 1140px;
  height: 100%;
  margin: 0 auto;

  @media (max-width: $desktop) {
    width: 960px;
  }

  @media (max-width: $tablet) {
    width: 720px;
  }

  @media (max-width: $mobile) {
    width: 576px;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.section-heading {
  margin-bottom: 1rem;
}

.section-heading h2 {
  font-weight: 200;
  color: white;
  font-size: 2em;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity .15s ease;
  z-index: 9999;

  .btn {
    cursor: pointer;
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  .close-btn {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
  }

  .prev-btn,
  .next-btn {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
  }
  
  .prev-btn {
    transform: rotate(180deg);
  }
}